body{
  background-image:url(../img/floral2.jpg);
  color: #dbdbdb;
}

a{
  color: white;
}

.title{
  float:left;
  font-family: monospace;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 6px solid #dbdbdb;
  border-bottom: 6px solid #dbdbdb;
  border-radius: 5px;
}

.headshot{
  width:220px;
  max-width: 100%;
  margin-left: auto;
  margin-right:auto;
  display: block;
  border: 3px solid #dbdbdb;
  border-radius: 5px;
}

.content-box{
  background-color: #77a3b0;
  border-top: 3px solid #dbdbdb;
  border-bottom: 6px solid #dbdbdb;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
}

.dotted-line{
  border-left: 3px dotted #dbdbdb;
}

.content-wrapper{
  background-color: #606D66;
  border-radius: 25px 25px 25px 25px;
  padding: 80px;
  margin-bottom:50px;
  box-shadow: inset 4px 4px 20px darkgrey,
              inset -4px -4px 20px darkgrey;
}

.container{
  width: 1300px;
}

.nav{
  border-bottom: none;
}

.navigation{
  color:#dbdbdb;
  background-color:#77a3b0;
  border-radius: 7px 7px 0px 0px;
  margin-top:50px;
  border-top: 2px solid #dbdbdb;
  border-left: 2px solid #dbdbdb;
  border-right: 2px solid #dbdbdb;
}
